sqlite3 >= 3.35.0
streamlit==1.32.0
pandas==2.2.2
requests==2.31.0
python-dotenv==1.0.1


torch==2.2.2
transformers==4.38.2
huggingface_hub==0.21.4
sentence-transformers==2.5.1

chromadb==0.4.24


pypdf==4.1.0


numpy==1.26.4 
dotenv
